Join the data from Part 1 with the data from Part 2 to create a new dataframe.

In [1]:
# imports
import pandas as pd
import numpy as np

In [19]:
# The bike dataframe information.
# The first column is dropped and the next is renamed to "citybike_index",
# so that it matches the column in the other dataframes.
with open('bikes.csv') as x:
    ncols = len(x.readline().split(','))
bike_df = pd.read_csv('bikes.csv', usecols=range(1,ncols))
bike_df = bike_df.rename(columns={"index": "citybike_index"})

# The data collected from Yelp for parks.
with open('yelp_outdoor_data.csv') as x:
    ncols = len(x.readline().split(','))
yelp_park_df = pd.read_csv('yelp_outdoor_data.csv', usecols=range(1,ncols))

# # The data collected from Foursquare for parks
# four_square_df = pd.read_json('foursquare_outdoor_data.json')

# # The categorical names data for each location name in four_square_df.
# fs_id_cat_df = pd.read_csv('fs_id_cat_df.csv')
# fs_id_cat_df = fs_id_cat_df.drop(fs_id_cat_df.columns[0], axis=1)

# The catagorical data from Foursquare and the parent database were joined
# and duplicate rows and columns were filtered out.
# The data was saved into "fs_outdoor_data_with_categories".
with open('fs_outdoor_data_with_categories.csv') as x:
    ncols = len(x.readline().split(','))
foursquare_park_df = pd.read_csv('fs_outdoor_data_with_categories.csv', usecols=range(1,ncols))

In [13]:
bike_df

,citybike_index,empty_slots,free_bikes,name,latitude,longitude,ll
0,0,3,16,Queen St E / Woodward Ave,43.665269,-79.319796,"43.665269,-79.319796"
1,1,13,2,Primrose Ave / Davenport Rd,43.671420,-79.445947,"43.67142,-79.445947"
2,2,9,14,Queen St. E / Rhodes Ave.,43.666224,-79.317693,"43.666224,-79.317693"
3,3,9,15,Bond St / Queen St E,43.653236,-79.376716,"43.653236,-79.376716"
4,4,9,18,Church St / Alexander St,43.663722,-79.380288,"43.663722,-79.380288"
...,...,...,...,...,...,...,...
669,669,11,3,Parkcrest Dr / Kingston Rd,43.735967,-79.219952,"43.73596719224253,-79.21995221481933"
670,670,18,1,Scarborough Soccer Centre,43.715466,-79.287660,"43.7154661,-79.2876595"
671,671,13,1,Lansdowne Ave / Seaforth Ave,43.642904,-79.437461,"43.64290439595669,-79.43746059447746"
672,672,15,0,Danforth Rd / Birchmount Rd,43.706880,-79.268510,"43.70688,-79.26850999999999"
673,673,19,0,Pharmacy Ave / Teesdale Pl,43.697356,-79.285287,"43.69735608087488,-79.28528711019696"

In [18]:
foursquare_park_df.sort_values(by='citybike_index')

,citybike_index,fsq_id,name,category_name,distance
0,0,4baa029cf964a52085433ae3,Woodbine Park,Park,379
65,0,4d0cef321f6bf04d75707a31,Jonathan Ashbridge Park,Playground,63
69,0,4fdbc663e4b029940a58c201,The Beach,Surf Spot,153
73,0,4be3345b660ec928226dcb3b,The Ashbridge Estate,Real Estate Agency,173
74,0,4be3345b660ec928226dcb3b,The Ashbridge Estate,Garden,173
...,...,...,...,...,...
2477,673,4bb2776135f0c9b6d050bb83,Oakridge Park,Playground,675
2443,673,4d3fb0db7a516ea8fd4cb482,Dentonia Park,Park,965
7615,673,4e6a5dee18381ea1bddf40c9,Warden Woods Ravine,Hiking Trail,687
2519,673,e46a1808880945e2c829e7af,Mackenzie Life,Farm,88
7616,673,40ad584837a44c8757d8279d,Camp Muskoka,Campground,750

In [20]:
yelp_park_df

,citybike_index,name,review_count,rating,distance,categories_names
0,0,Woodbine Park,10.0,4.0,594.427716,parks
1,0,Ashbridge Estate,1.0,5.0,237.321078,parks
2,0,Greenwood Park,11.0,3.0,814.321414,parks
3,0,Woodbine Beach,26.0,4.5,943.134995,beaches
4,0,Ashbridges Bay Park,30.0,3.5,959.632364,beaches
...,...,...,...,...,...,...
4749,490,Massey Harris Park,1.0,3.0,631.899173,parks
4750,490,Gateway Park,1.0,3.0,635.585840,parks
4751,491,Taylor Creek Park,11.0,4.5,744.453991,parks
4752,491,E.T. Seton Park,1.0,5.0,643.642675,parks
4753,492,Stan Wadlow Park,2.0,3.0,999.012900,parks

Provide a visualization that you used as part of your EDA process. Explain the initial pattern or relationship you discoved through this visualization.

In [ ]:
# Column values were selected in the yelp_foursquare_EDA file.
# Duplicate rows were also filtered out in the yelp_foursquare_EDA file.

# df.info()
# df.describe()

# Database

Put all your results in an SQLite3 database (remember, SQLite stores its databases as files in your local machine - make sure to create your database in your project's data/ directory!)

In [21]:
import sqlite3
from sqlite3 import Error


def create_connection(path):
    connection = None
    try:
        connection = sqlite3.connect(path)
        print("Connection to SQLite DB successful")
    except Error as e:
        print(f"The error, '{e}', occurred")
    return connection

connection = create_connection("sm_app.sqlite")

Connection to SQLite DB successful

Look at the data before and after the join to validate your data.

In [ ]:
# Data from each table is looked at in the files above.